@(employees : List[EmployeeDetail])

<!DOCTYPE html>
<html>
<head>
    <title>Employees Detail</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <table class="table table-hover">
        <h2>Employees</h2>
        <tr>
            <th></th>
            <th align="left">Name</th>
            <th align="left">Title</th>
            <th align="left">Salary</th>
            <th align="left">Reports To</th>
        </tr>
        @for(employee <- employees) {
        <tr>
            <td><img class="img-circle" src=@routes.EmployeeController.getPhoto(employee.getEmployeeId) width="65"></td>
            <td><a href="/employee/@employee.getEmployeeId">@employee.getFullName</a></td>
            <td>@employee.getTitle</td>
            <td>@employee.getSalaryRounded</td>
            <td>@employee.getReportsToFullName</td>
        </tr>
        }
    </table>
</div>
</body>
</html>
