@(foreman : Employee, client : Client, actuals : List[Actual])

<!DOCTYPE html>
<html>
<head>
    <title>ForemanTest</title>
    <script src="/assets/lib/chartjs/chart.js"></script>
</head>
<body>
<h2>Welcome, @foreman.getFirstName</h2>
<h3><u>Current Project</u></h3>
<label>Name : </label> @client.getFullName
<br/>
<label>Address: </label> @client.getFullAddress
<br/>
<table>
    <tr>
        <th align="left">Category</th>
        <th align="right">Estimate Hours</th>
        <th align="right">Actual Hours</th>
    </tr>
    @for(actual <- actuals) {
    <tr>
        <td>0@actual.getEstimate.getCategoryId @actual.getEstimate.getCategory.getCategoryName</td>
        <td align="right" width="125">@actual.getEstimate.getEstimateHours</td>
        <td align="right" width="125">@actual.getActualHours</td>
    </tr>
    }
</table>

<canvas id="myChart"></canvas>

<script>
var ctx = document.getElementById('myChart').getContext('2d');

var myChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: [
            @for(actual <- actuals) {
            "@actual.getEstimate.getCategory.getCategoryName",
            }
        ],
        datasets: [{
            label: 'Estimated Hrs',
            data: [
            @for(actual <- actuals) {
            @actual.getEstimate.getEstimateHours,
            }
        ],
        backgroundColor: "rgba(153,255,51,0.4)"
        }, {
            label: 'Actual Hrs',
            data: [
            @for(actual <- actuals) {
            @actual.getActualHours,
            }
        ],
        backgroundColor: "rgba(255,153,0,0.4)"
        }]
    }
});
</script>
</body>
</html>
