<!DOCTYPE html>
<html>
<body>
    <h2>Login</h2>
        <form method="post">
            <table>
                <tr>
                    <td><label>Username </label></td>
                    <td><input type="text" name="username" id="username"></td>
                </tr>
                <tr>
                    <td><label>Password </label></td>
                    <td><input type="password" name="password" id="password"></td>
                </tr>
                <tr>
                    <td></td>
                    <td align="right"><button type="submit">Login</button></td>
                </tr>
            </table>
        </form>
</body>
</html>
