@(employees : List[Employee])
<!DOCTYPE html>
<html>
<body>

<h1>Employee Search</h1>

<label>Last name:</label>
<form method="GET ">
    <input type="text" name="lastname" id="lastname">
    <button type="submit">Search</button>
</form>

<br />

<table>
    <tr>
        <th align="left">Name</th>
        <th align="left">Title</th>
        <th align="left">Salary</th>
        <th align="left">Reports To</th>
    </tr>
    @for(employee <- employees) {
    <tr>
        <td><a href="/employee/@employee.getEmployeeID">@employee.getFullName</a></td>
        <td>@employee.getTitle</td>
        <td>@employee.getSalaryRounded</td>
        <td>@employee.getReportsToLastName(employees)</td>
    </tr>
    }
</table>

</body>
</html>
